<div class="row py-5">
   <div class="col-lg-4 mx-auto">
        <section class= "d-flex justify-content-center mt-5 mb-5">
          <h4 class="text-capitalize">
            <%=resource_name%> Forgot Password?
          </h4>
        </section>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-5">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"Email" , class:"form-control py-2" %>
  </div>

  <div class="actions mt-4 mb-5">
    <%= f.submit "Send me reset password instructions",class:"form-control py-2 btn btn-primary fw-bold shadow" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>